/* Set the font family and background color for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Style the header and score */
  h1, h2 {
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Style the form */
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the form labels and input fields */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Style the feedback message */
  p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  

  body.correct {
    background-color: #88ff88;
  }
  
  body.incorrect {
    background-color: #ff8888;
  }

  div {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
/*   
  #message-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  #message-box h3 {
    margin-top: 0;
  }
  
  #message-box p {
    margin-bottom: 0;
  }
   */