<!DOCTYPE html>
<html>
  <head>
    <title>My Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>My Game</h1>
    <h2>Score: {{ score }}</h2>
    <h2>High Score: {{ high_score }}</h2> <!-- Add this line -->

    <form action="/" method="POST">
      <label for="question">Question:</label><br>
      <input type="text" id="question" name="question" value="{{ question }}"><br>
      <label for="user_answer">Your Answer:</label><br>
      <input type="text" id="user_answer" name="user_answer"><br><br>
      <input type="submit" value="Submit">
    </form>
    <div id="message-box">
      {% if message %}
      <h3>Explanation:</h3>
      <p>{{ message }}</p>
      {% endif %}
    </div>
  </body>
</html>
